<header>
  <div class='header-container'>
    <div class='logo'>
      <a href='/'>My Blog</a>
    </div>
    <nav class='nav-menu'>
      <ul>
        <li><a href='/'>Home</a></li>
        <!-- views/partials/header.ejs -->
<!-- views/partials/header.hbs -->
<!-- Menu Blog với danh mục xổ xuống -->
<li class="dropdown">
  <a href="/blog">Blog</a>
        {{#if user}}
         <!-- Nếu đã đăng nhập -->
        <li class="user-profile dropdown">
          <img src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/default-avatar.png{{/if}}" alt="User Avatar" class="avatar" aria-label="User profile">
          <ul class="dropdown-menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        {{else}}
          <!-- Nếu chưa đăng nhập -->
          <li><a href='/login' class='auth-link'>Sign in</a></li>
          <li><a href='/register' class='auth-link'>Sign up</a></li>
        {{/if}}
      </ul>
    </nav>
  </div>
</header>